<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       lang="en">
<head>
    <meta charset="UTF-8">
    <title>*** Manager System</title>
    <script th:src="${'/js/jquery.min.js'}" type="text/javascript"></script>
</head>
<body>
<!-- 引入碎片文件*.html-->
<div th:replace="fragments/header"></div><hr>
<div th:replace="fragments/sideber"></div><hr>
<div th:if="${template}">
    <div th:replace="${template}"></div>
</div><hr>
<div th:replace="fragments/ footer::footer"></div>
</body>
</html>